.searchPage {
    background: rgb(238,174,238);
    background: linear-gradient(187deg, rgba(238,174,238,1) 0%, rgba(148,187,233,1) 100%);
    
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    .searchForm {
        min-width: 600px;
        height: 60px;
        display: flex;
        justify-content: center;

        .searchForm__input {
            padding: 10px;
        }
    }
    .searchForm__private{
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
        font-size: .8em;
    }
}